*.svn
*.idea
*.user
*.docx
*.vs
*.vsmdi
*.cmd
*.testsettings
*.old
*.suo
*.zip
*.js
*.map

[Tt]humbs.db

typings
node_modules
bin
obj
packages
Unused
TestResults
_temp
_ReSharper*

#Don't commit databases (except manually in some cases)
*.mdf
*.ldf
*.sdf
