*.svn
*.idea
*.user
*.docx
*.vs
*.vsmdi
*.cmd
*.testsettings
*.old
*.suo
*.zip
*.map
*/app/**/*.js
TempHire/index.html

[Tt]humbs.db

typings
node_modules
aot
dist
bin
obj
packages
Unused
TestResults
_temp
_ReSharper*

#Don't commit databases (except manually in some cases)
*.mdf
*.ldf
*.sdf