<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/">TempHire Angular</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li *ngFor="let route of routes" routerLinkActive="active"><a [routerLink]="route.routerLink">{{ route.title }}</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="busyService.isBusy"><button style="margin-top: 2px" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></button></li>
                <li><a href="" (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

